# vim ft=yaml
# Multiple lines can be made a single "virtual line" because of how Travis
# munges each line before executing it to print out the exit status.  It's okay
# for it to be on multiple physical lines, so long as you remember: - There
# can't be any leading "-"s - All newlines will be removed, so use ";"s

dist: focal
language: python
cache: pip
python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
env:
  REQUIRE_ASPELL=true

addons:
  apt:
    packages:
      - libaspell-dev
      - aspell-en

before_install:
    - source tools/travis_tools.sh
    - SRC_DIR=$PWD
    - cd ~
    - virtualenv --python=python venv
    - source venv/bin/activate
    - python --version  # just to check
    - pip install -U pip wheel # upgrade to latest pip find 3.5 wheels; wheel to avoid errors
    - pip install -e ".[dev]" # install the codespell dev packages
    - retry pip install flake8 coverage codecov chardet "setuptools!=47.2.0" docutils check-manifest
    - retry pip install aspell-python-py3
    - cd $SRC_DIR

install:
    - python setup.py install

script:
    - codespell --help
    - make check-dictionaries
    - codespell --check-filenames --skip="./.git/*,*.pyc,./codespell_lib/tests/test_basic.py,./codespell_lib/data/*,./example/code.c,./build/lib/codespell_lib/tests/test_basic.py,./build/lib/codespell_lib/data/*"
    # this file has an error
    - "! codespell codespell_lib/tests/test_basic.py"
    - flake8
    - python setup.py check --restructuredtext --strict
    - pytest codespell_lib
    - make check-manifest

after_success:
    - codecov
