exclude *.yml
exclude .coveragerc
exclude .git-blame-ignore-revs
prune example
prune snap
prune .devcontainer
prune .github
exclude .gitignore
exclude .mailmap
exclude codespell.1.include
exclude pyproject-codespell.precommit-toml
